:root {
  --primary-color: #294c7a; /* プライマリカラーとして定義 */
}

/*header*/
header {
  background-color: var(--primary-color); /* ヘッダーの背景色をプライマリカラーに設定 */
  color: white; /* テキストの色を白に設定 */
  padding: 20px; /* ヘッダーの内側にパディングを追加 */
  text-align: center; /* テキストを中央揃え */
}

header h1 {
  font-size: 28px; /* ヘッダータイトルのフォントサイズを設定 */
  margin: 0; /* デフォルトのマージンを削除 */
}

header div {
  max-width: 1200px; /* ヘッダーのコンテンツ幅を制限 */
  margin: 0 auto; /* コンテンツを中央に配置 */
}

/* Question_2 specific styling */
.question-container {
  text-align: center;
  margin: 20px;
}

.question-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* 一貫したテキストカラーを使用 */
}

.question-container select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid var(--primary-color); /* プライマリカラーを使用 */
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff;
  color: var(--primary-color); /* プライマリカラーを使用 */
}

.question-container button {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 16px;
  border: 2px solid var(--primary-color); /* プライマリカラーを使用 */
  background-color: #ffffff;
  color: var(--primary-color); /* プライマリカラーを使用 */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.question-container button:hover {
  background-color: var(--primary-color); /* プライマリカラーを使用 */
  color: #ffffff;
}

.next-button-container {
  text-align: center; /* ボタンを中央に配置 */
  margin-top: 40px; /* ボタンをさらに下に配置するためのマージン */
}

/*footer*/
footer {
  background-color: var(--primary-color); /* フッターの背景色をプライマリカラーに設定 */
  color: white; /* テキストの色を白に設定 */
  text-align: center; /* テキストを中央揃え */
  padding: 10px 20px; /* フッターの内側にパディングを追加 */
  position: fixed; /* フッターをページの下部に固定 */
  bottom: 0; /* 下部に固定するための設定 */
  width: 100%; /* フッターの幅をページ全体に広げる */
}

footer p {
  margin: 0; /* デフォルトのマージンを削除 */
  font-size: 14px; /* フッターのフォントサイズを調整 */
}
